@page
@model firstwebapp.Pages.Questions.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Question</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Question.Submitter)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Question.Submitter)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Question.dumbQuestion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Question.dumbQuestion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Question.Vote)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Question.Vote)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Question.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
