@page
@model firstwebapp.Pages.Questions.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Welche Dumme Frage erwartet uns jetzt?</h1>

<p>
    <a asp-page="Create">Frage einreichen</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Questions.FirstOrDefault().Submitter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Questions.FirstOrDefault().dumbQuestion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Questions.FirstOrDefault().VoteCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Questions) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Submitter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dumbQuestion)
            </td>
            <td>
                 @Html.DisplayFor(model => item.VoteCount)
            </td>
            <td>
                <a asp-page="Vote" asp-route-id="@item.ID"> <input type="submit" value="Go Vote" class="btn btn-primary" /></a>
                @if (this.User.IsInRole("Admin"))
                {
                    <a asp-page="Delete" asp-route-id="@item.ID"> <input type="submit" value="Delete" class="btn btn-primary" /></a>
                    <a asp-page="Edit" asp-route-id="@item.ID"> <input type="submit" value="Edit" class="btn btn-primary" /></a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
 