@page
@model firstwebapp.Pages.Questions.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Welche Dumme Frage erwartet uns jetzt?</h1>

<p>
    <a asp-page="Create">Frage einreichen</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Question[0].Submitter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Question[0].dumbQuestion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Question[0].Vote)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Question) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Submitter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dumbQuestion)
            </td>
            <td>
                 @Html.DisplayFor(modelItem => item.Vote)
            </td>
             <td>
             <a asp-page="Vote"><input type="submit" value="Go Vote" class="btn btn-primary" /></a>
            </td>
        </tr>
}
    </tbody>
</table>
 