@page
@model firstwebapp.Pages.Questions.Vote

@{
    ViewData["Title"] = "Voting";
}

<h1>Was ist die dümmste Question?</h1>

<form method="post">
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Question.Submitter)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Question.Submitter)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Question.dumbQuestion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Question.dumbQuestion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Question.Vote)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model =>model.VoteCounter)
        </dd>
    </dl>
    <dl class="col"></dl>
    @if (Model.Duplicate)
    {
    <div class="text-warning">You allready have voted!</div>
    }
    else
    {
        <input type="submit" value="+1" class="btn btn-primary" />
    }

</form>
